* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --ff: 'Roboto', sans-serif
}

body {
    background-color: #000000;
    color: white;
    font-family: var(--ff);
}

nav {
    width: 85rem;
    height: 4.8rem;
    margin: 7.5rem auto;
    display: flex;
    justify-content: space-between;
    

}

#logo {
    width: 18.6rem;
    height: 3.27rem;

}

nav input {
    font-family: var(--ff);
    font-size: 1.6rem;
    height: 4.8rem;
    width: 25rem;
    border-radius: 5px;
}

nav button {
    font-family: var(--ff);
    text-transform: uppercase;
    color: #FFF;
    height: 4.8rem;
    border: none;
    background-color: #065E7C;
    border-radius: 5px;
    width: 17rem;
}

nav button:hover {
    background-color: rebeccapurple;
}

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

table {
    margin: auto;
    width: 85rem;
    border-collapse: collapse;
    font-size: 2rem;
    border: 1px solid #4A808C;

    
    
}

table tr th {
    background-color: #092D38;
    height: 6.4rem;
    text-align: left;
    padding: 16px 24px 16px 40px;
    gap: 12px;
    
}

table tr:nth-child(even) { /* pega o numero de linha "par"*/
    background: #06181C;
}

table tr:nth-child(odd) { /* pega o numero de linha "impar"*/
    background: rgba(6, 22, 27, 0.5);
}

tbody tr {
    border: 1px solid #4A808C;
}

tbody tr td {
    text-align: left;
    padding: 2.4rem 1rem 2.4rem 4rem;
}

td.user img {
    width: 5.6rem;
    height: 5.6rem;
    object-fit: cover;
    border-radius: 50%;
    /*margin: 2.4rem 0 2.4rem 0rem;*/
}

.user a{
    color: #FFF;
    text-decoration: none;
    /*margin: 2.8rem 8.1rem 2.8rem 1.6rem;*/
    font-size: 2rem;
}

a p {
    margin-bottom: .8rem;
}

.user {
    height: 10.4rem;
    display: flex;
}

.userdescription {
    margin-left: 1.6rem;
}

td .remove {
    border: none;
    background: none;
    color: red;
    cursor: pointer;
    font-size: 2rem;
}


/* barra de rolagem*//*
::-webkit-scrollbar{
   width: 6px; 
}

::-webkit-scrollbar-track{
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-color: red;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: black;
}*/

